<div class="form-container">

    <div class="form-group">
        <a routerLink="/admin/employes/listes" routerLinkActive="active" class="back-link">
        ← Retour à la liste des employés
        </a>
    </div>

    <div class="form-card">
        <div class="group">
            <h2>Modifier un employé</h2>
            <p class="subtitle">
                Modifiez les informations ci-dessous puis cliquez sur "Enregistrer".
            </p>
        </div>

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <!-- Nom complet -->
            <div class="form-group">
                <label for="nomComplete">Nom complet</label>
                <input type="text" id="nomComplete" placeholder="ex: Malal Dupont" formControlName="nomComplete">
                <div *ngIf="registerForm.get('nomComplete')?.invalid && (registerForm.get('nomComplete')?.touched || registerForm.get('nomComplete')?.dirty)" 
                class="auth__error">
                    Le nom complet est requis.
                </div>
            </div>

            <!-- Email -->
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" placeholder="ex: malal.dupont@gmail.com" formControlName="email">
                <div *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty)" 
                class="auth__error">
                    L'email est requis et doit être valide.
                </div>
            </div>

            <!-- Téléphone -->
            <div class="form-group">
                <label for="phoneNumber">Téléphone</label>
                <input type="tel" id="phoneNumber" placeholder="ex: +221 77 123 45 67" formControlName="phoneNumber">
                <div *ngIf="registerForm.get('phoneNumber')?.invalid && (registerForm.get('phoneNumber')?.touched || registerForm.get('phoneNumber')?.dirty)" 
                class="auth__error">
                    Le téléphone est requis.
                </div>
            </div>

            <!-- Poste -->
            <div class="form-group">
                <label for="poste">Poste</label>
                <input type="text" id="poste" placeholder="ex: Manager RH" formControlName="poste">
                <div *ngIf="registerForm.get('poste')?.invalid && (registerForm.get('poste')?.touched || registerForm.get('poste')?.dirty)" 
                class="auth__error">
                    Le poste est requis.
                </div>
            </div>

            <!-- Date embauche -->
            <div class="form-group">
                <label for="dateEmbauche">Date d'embauche</label>
                <input type="date" id="dateEmbauche" formControlName="dateEmbauche">
                <div *ngIf="registerForm.get('dateEmbauche')?.invalid && (registerForm.get('dateEmbauche')?.touched || registerForm.get('dateEmbauche')?.dirty)" 
                class="auth__error">
                    La date d'embauche est requise.
                </div>
            </div>

            <!-- Salaire -->
            <div class="form-group">
                <label for="salaire">Salaire (FCFA)</label>
                <input type="number" id="salaire" formControlName="salaire">
                <div *ngIf="registerForm.get('salaire')?.invalid && (registerForm.get('salaire')?.touched || registerForm.get('salaire')?.dirty)" 
                class="auth__error">
                    Le salaire est requis.
                </div>
            </div>

            <!-- Login -->
            <div class="form-group">
                <label for="login">Login</label>
                <input type="text" id="login" placeholder="ex: malal.dupont" formControlName="login">
                <div *ngIf="registerForm.get('login')?.invalid && (registerForm.get('login')?.touched || registerForm.get('login')?.dirty)" 
                class="auth__error">
                    Le login est requis.
                </div>
            </div>

            <!-- Rôle -->
           <div class="form-group">
                <label for="role">Rôle</label>
                <select id="role" formControlName="role">
                    <option value="">-- Sélectionner un rôle --</option>
                    <option *ngFor="let role of roles" [value]="role">
                    {{ roleLabels[role] }}
                    </option>
                </select>
                <div *ngIf="registerForm.get('role')?.invalid && (registerForm.get('role')?.touched || registerForm.get('role')?.dirty)" 
                    class="auth__error">
                    Le rôle est requis.
                </div>
            </div>

            <!-- Mot de passe -->
            <div class="form-group">
                <label for="accountState">Statif de compte</label>
                <select id="accountState" formControlName="accountState">
                    <option value="">-- Sélectionner un statif de compte --</option>
                    <option *ngFor="let accountState of accountStates" [value]="accountState">
                      {{ accountStateLabels[accountState] }}
                    </option>
                </select>
                <div *ngIf="registerForm.get('accountState')?.invalid && (registerForm.get('accountState')?.touched || registerForm.get('accountState')?.dirty)" 
                class="auth__error">
                    Le statif de compte est requis.
                </div>
            </div>

            <!-- Bouton -->
            <div class="form-group auth_button">
                <button type="submit" class="btn-save" [disabled]="registerForm.invalid">Mettre à jour</button>
            </div>

        </form>

        <div *ngIf="message" class="success-message">
            {{ message }}
        </div>
        <div *ngIf="error" class="auth__error">
            {{ error }}
        </div>

  </div>

</div>
