<div class="auth">

    <div class="auth__container">

        <form action="" class="auth__form">

            <h2 class="auth__title">Inscription</h2>

            <div class="auth__input">
                <label for="nom">Nom et Prénom de l'utilisateur</label>
                <input  type="text" name="nom" id="nom" placeholder=" Entrez votre nom et votre prénom " />
            </div>

            <div class="auth__input">
                <label for="email">Adresse e-mail</label>
                <input  type="email" name="email" id="email" placeholder="Entrez votre adresse e-mail" />
            </div>

            <div class="auth__input">
                <label for="password">Mot de passe</label>
                <input type="password" name="password" id="password" placeholder="Entrez votre mot de passe" />
            </div>

            <div class="auth__button">
                <button type="submit">S'inscrire</button>
            </div>

        </form>

        <div>
            <p class="auth__text"> Si vous avez deja un compte ? <a class="auth__link" href="/"> Se connecter </a> </p>
        </div>

    </div>

</div>