<div class="form-container">

    <div class="form-group">
        <a routerLink="/admin/departements/liste" routerLinkActive="active" class="back-link">
            ← Retour à la liste des départements
        </a>
    </div>

    <div class="form-card">
      
        <div class="group">
            <h2>Créer un nouveau département</h2>
            <p class="subtitle">
                Remplissez les informations ci-dessous pour ajouter un nouveau département.
            </p>
        </div>

        <form id="departement-form" class="departement-form" [formGroup]="departementForm" (ngSubmit)="onSubmit()">

            <!-- Nom -->
            <div class="form-group">
                <label for="nom">Nom</label>
                <input type="text" id="nom" placeholder="ex: Ressources Humaines" formControlName="nom">
                <div *ngIf="departementForm.get('nom')?.invalid && (departementForm.get('nom')?.touched || departementForm.get('nom')?.dirty)" 
                class="auth__error">
                    Le nom est requis.
                </div>
            </div>

            <!-- Code -->
            <div class="form-group">
                <label for="code">Code</label>
                <input type="text" id="code" placeholder="ex: RH001" formControlName="code">
                <div *ngIf="departementForm.get('code')?.invalid && (departementForm.get('code')?.touched || departementForm.get('code')?.dirty)" 
                class="auth__error">
                    Le code est requis.
                </div>
            </div>

            <!-- Description -->
            <div class="form-group">
                <label for="description">Description</label>
                <textarea id="description" placeholder="Décrire brièvement le département" formControlName="description"></textarea>
            </div>

            <!-- Contact -->
            <div class="form-group row">
                <div class="form-group">
                    <label for="contactEmail">Email de contact</label>
                    <input type="email" id="contactEmail" placeholder="ex: contact@entreprise.com" formControlName="contactEmail">
                    <div *ngIf="departementForm.get('contactEmail')?.invalid && (departementForm.get('contactEmail')?.touched || departementForm.get('contactEmail')?.dirty)" 
                    class="auth__error">
                        L'email est requis.
                    </div>
                </div>
                <div class="form-group">
                    <label for="contactPhone">Téléphone de contact</label>
                    <input type="tel" id="contactPhone" placeholder="ex: +33 1 23 45 67 89" formControlName="contactPhone">
                    <div *ngIf="departementForm.get('contactPhone')?.invalid && (departementForm.get('contactPhone')?.touched || departementForm.get('contactPhone')?.dirty)" 
                    class="auth__error">
                        Le téléphone est requis.
                    </div>
                </div>
            </div>

            <!-- Localisation -->
            <div class="form-group">
                <label for="location">Localisation</label>
                <input type="text" id="location" placeholder="ex: Paris - Siège social" formControlName="location">
                <div *ngIf="departementForm.get('location')?.invalid && (departementForm.get('location')?.touched || departementForm.get('location')?.dirty)" 
                class="auth__error">
                    La localisation est requise.
                </div>
            </div>

            <!-- Budget -->
            <div class="form-group">
                <label for="budget">Budget annuel</label>
                <div class="salary-input">
                    <span>FCFA</span>
                    <input type="number" id="budget" placeholder="500000" formControlName="budget">
                </div>
                <div *ngIf="departementForm.get('budget')?.invalid && (departementForm.get('budget')?.touched || departementForm.get('budget')?.dirty)" 
                class="auth__error">
                    Le budget est requis.
                </div>
            </div>

            <!-- Bouton -->
            <div class="form-group auth_button">
                <button type="submit" class="btn-save" [disabled]="departementForm.invalid">Enregistrer</button>
            </div>

        </form>

        <div *ngIf="message" class="auth__error">
            {{ message }}
        </div>
    </div>

</div>
